{% extends 'frontend.html.twig' %}

{% block title %}Formulario con Bootstrap{% endblock %}

{% block main %}
    <div class="container d-flex flex-column justify-content-center align-items-center mt-5">
        <h1 class="text-center">Formulario con Bootstrap</h1>

    </div>
{% endblock %}