<form action="" class="row flex-column align-items-start gap-3 mt-5" style="width: 50%;">
    <label class="d-flex flex-column px-0" for="nameGame">
        Nombre
        <input type="text" name="nameGame" id="nameGame" placeholder="Ingrese el nombre del juego...">
    </label>
    <label class="d-flex flex-column px-0" for="imgGame">
        Imagen
        <input type="file" name="imgGame" id="imgGame">
    </label>
    <label class="d-flex flex-column px-0" for="descriptionGame">
        Descripción
        <input type="text" name="descriptionGame" id="descriptionGame">
    </label>
    <label class="d-flex flex-column px-0" for="platformGame">
        Plataforma
        <select name="platformGame" id="platformGame">
            <option value="0">Seleccionar...</option>
        </select>
    </label>
    <label class="d-flex flex-column px-0" for="genderGame">
        Género
        <select name="genderGame" id="genderGame">
            <option value="0">Seleccionar...</option>
        </select>
    </label>
    <label class="d-flex flex-column px-0" for="urlGame">
        Sitio web
        <input type="url" name="urlGame" id="urlGame">
    </label>
    <input type="submit" class="btn btn-success" value="Agregar">
</form>