{% extends 'frontend.html.twig' %}

{% block title %}Formulario Simple{% endblock %}

{% block main %}
    <div class="container d-flex flex-column justify-content-center align-items-center mt-5">
        <h1 class="text-center">Formulario Simple</h1>
        {# Dejo de utilizar este helper 'form()' después #}
        {{ form(formulario) }}
    </div>
{% endblock %}