<div class="container">
    <h1 class="text-center mb-5">Géneros</h1>
    <ul class="list-group">
        <li class="list-group-item">Nombre del Género</li>
        <li class="list-group-item">Nombre del Género</li>
        <li class="list-group-item">Nombre del Género</li>
        <li class="list-group-item">Nombre del Género</li>
        <li class="list-group-item">Nombre del Género</li>
    </ul>
</div>
