<div class="cards-container container my-5">
    <div class="row justify-content-center align-items-center">
        <a href="{{ path('form_home') }}" class="col-12 col-md-4 btn btn-success">Agregar juego</a>
    </div>
    <ul class="row wrapper" style="list-style-type: none;">
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <h3 class="h5 text-center mb-4">TÍTULO DEL JUEGO</h3>
                    <p><strong>Descripcion:</strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, nam.</p>
                    <p class="card-text">
                        <strong>Género:</strong> Género del juego
                    </p>
                    <p class="card-text">
                        <strong>Plataforma:</strong> Plataforma del juego
                    </p>
                    <p><strong>Sitio web:</strong><a href="">url del juego</a></p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <h3 class="h5 text-center mb-4">TÍTULO DEL JUEGO</h3>
                    <p><strong>Descripcion:</strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, nam.</p>
                    <p class="card-text">
                        <strong>Género:</strong> Género del juego
                    </p>
                    <p class="card-text">
                        <strong>Plataforma:</strong> Plataforma del juego
                    </p>
                    <p><strong>Sitio web:</strong><a href="">url del juego</a></p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <h3 class="h5 text-center mb-4">TÍTULO DEL JUEGO</h3>
                    <p><strong>Descripcion:</strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, nam.</p>
                    <p class="card-text">
                        <strong>Género:</strong> Género del juego
                    </p>
                    <p class="card-text">
                        <strong>Plataforma:</strong> Plataforma del juego
                    </p>
                    <p><strong>Sitio web:</strong><a href="">url del juego</a></p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <h3 class="h5 text-center mb-4">TÍTULO DEL JUEGO</h3>
                    <p><strong>Descripcion:</strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, nam.</p>
                    <p class="card-text">
                        <strong>Género:</strong> Género del juego
                    </p>
                    <p class="card-text">
                        <strong>Plataforma:</strong> Plataforma del juego
                    </p>
                    <p><strong>Sitio web:</strong><a href="">url del juego</a></p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <h3 class="h5 text-center mb-4">TÍTULO DEL JUEGO</h3>
                    <p><strong>Descripcion:</strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, nam.</p>
                    <p class="card-text">
                        <strong>Género:</strong> Género del juego
                    </p>
                    <p class="card-text">
                        <strong>Plataforma:</strong> Plataforma del juego
                    </p>
                    <p><strong>Sitio web:</strong><a href="">url del juego</a></p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <h3 class="h5 text-center mb-4">TÍTULO DEL JUEGO</h3>
                    <p><strong>Descripcion:</strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, nam.</p>
                    <p class="card-text">
                        <strong>Género:</strong> Género del juego
                    </p>
                    <p class="card-text">
                        <strong>Plataforma:</strong> Plataforma del juego
                    </p>
                    <p><strong>Sitio web:</strong><a href="">url del juego</a></p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <h3 class="h5 text-center mb-4">TÍTULO DEL JUEGO</h3>
                    <p><strong>Descripcion:</strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, nam.</p>
                    <p class="card-text">
                        <strong>Género:</strong> Género del juego
                    </p>
                    <p class="card-text">
                        <strong>Plataforma:</strong> Plataforma del juego
                    </p>
                    <p><strong>Sitio web:</strong><a href="">url del juego</a></p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <h3 class="h5 text-center mb-4">TÍTULO DEL JUEGO</h3>
                    <p><strong>Descripcion:</strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, nam.</p>
                    <p class="card-text">
                        <strong>Género:</strong> Género del juego
                    </p>
                    <p class="card-text">
                        <strong>Plataforma:</strong> Plataforma del juego
                    </p>
                    <p><strong>Sitio web:</strong><a href="">url del juego</a></p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <h3 class="h5 text-center mb-4">TÍTULO DEL JUEGO</h3>
                    <p><strong>Descripcion:</strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, nam.</p>
                    <p class="card-text">
                        <strong>Género:</strong> Género del juego
                    </p>
                    <p class="card-text">
                        <strong>Plataforma:</strong> Plataforma del juego
                    </p>
                    <p><strong>Sitio web:</strong><a href="">url del juego</a></p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <h3 class="h5 text-center mb-4">TÍTULO DEL JUEGO</h3>
                    <p><strong>Descripcion:</strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, nam.</p>
                    <p class="card-text">
                        <strong>Género:</strong> Género del juego
                    </p>
                    <p class="card-text">
                        <strong>Plataforma:</strong> Plataforma del juego
                    </p>
                    <p><strong>Sitio web:</strong><a href="">url del juego</a></p>
                </div>
            </div>
        </li>
    </ul>
</div>