<div class="cards-container container my-5">
    <ul class="row wrapper" style="list-style-type: none;">
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
        </li>
        <li class="col-12 col-md-4 col-xl-3 mt-5">
            <div class="card">
                <img src="https://fotos.perfil.com/2023/05/10/el-riesgo-de-inflar-a-javier-milei-1565355.jpg" class="card-img-top" alt="imagen de prueba" />
                <div class="card-body">
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>