<div class="filters d-flex justify-content-center mt-5">
    <form action="" style="width: 90%;" class="row">
        <label class="col-12 col-lg-4 d-flex flex-column" for="name">
            Nombre
            <input type="text" name="name" id="name" placeholder="Ingrese un nombre...">
        </label>
        <label class="col-12 col-lg-2 d-flex flex-column" for="gender">
            Géneros
            <select name="gender" id="gender">
                <option value="0">Seleccionar..</option>
                <option value="1">Terror</option>
                <option value="2">Acción</option>
                <option value="3">Aventura</option>
            </select>
        </label>
        <label class="col-12 col-lg-2 d-flex flex-column" for="platforms">
            Plataformas
            <select name="platforms" id="platforms">
                <option value="0">Seleccionar..</option>
                <option value="1">PC</option>
                <option value="2">XBox</option>
                <option value="3">Play Station 5</option>
            </select>
        </label>
        <label class="col-12 col-lg-2 d-flex flex-column" for="toOrder">
            Ordenar
            <select name="toOrder" id="toOrder">
                <option value="0">Seleccionar..</option>
                <option value="1">Ascendente</option>
                <option value="2">Descendente</option>
            </select>
        </label>
        <div class="col-12 col-md-1 d-flex align-items-end">
            <button style="width: 100%;" class="btn btn-primary">Filtrar</button>
        </div>
        <div class="col-12 col-md-1 d-flex align-items-end">
            <button style="width: 100%;" class="btn btn-outline-dark">Limpiar</button>
        </div>
    </form>
</div>