{% extends 'frontend.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block main %}
    {% for elem in array %}
        <p>{{elem}}</p>
    {% endfor %}
    {% include "home/filters.html.twig" %}
    {% include "home/cards.html.twig" %}
{% endblock %}
